/*========= HEADER =========*/
.header__container{
    justify-items: center;
    gap: 1.875rem;
}

.header__banner{
    width: 100%;
    border-radius: .625rem;
}

/*========= SECTION =========*/
section:nth-of-type(1) .section__container{
    justify-items: center;
    gap: 1.875rem;
}

section:nth-of-type(1) .section__data{
    gap: 1.875rem;
}

section:nth-of-type(1) .section__article-content{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-bottom: 1.875rem;
}

section:nth-of-type(1) .section__article-img{
    border-radius: .625rem;
}


/*=========== BREAKPOINTS ===========*/
/* For medium devices */
@media screen and (max-width: 500px){
    section:nth-of-type(1) .section__article-content{
        grid-template-columns: 1fr;
    }

    section:nth-of-type(1) .section__article-img{
        width: 100%;
    }
}
