/*=========== HEADER ===========*/
.header__container{
    justify-items: center;
    row-gap: 1.875rem;
}

.header__data{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: .625rem;
    place-items: center;
    padding: .625rem;
}

.header__data-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__data-content{
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.6);
    text-align: center;
    padding: 1.875rem 1.3125rem;
}

.header__description{
    margin-bottom: .875rem;
}

.header__data a{
    padding: 1rem 2.8125rem;
}

/*=========== FIRST SECTION ===========*/
section:nth-of-type(1) .section__container{
    grid-template-columns: repeat(2 ,1fr);
    gap: 1.25rem
}

section:nth-of-type(1) .section__article{
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: .625rem;
}

section:nth-of-type(1) .section__article-img{
    width: 100%;
    height: 120px;
}

section:nth-of-type(1) .section__article-content{
    padding: 1.25rem;
}

section:nth-of-type(1) .section__article-title{
    font-size: 1rem;
    margin-bottom: .625rem;
}

section:nth-of-type(1) .section__article-description{
    font-size: var(--small-font-size);
}

/*=========== SECTIONS ===========*/
section:nth-of-type(2) .container,
section:nth-of-type(3) .container{
    background-color: var(--white-color);
    border-radius: .625rem;
    padding: 1.25rem;
}

section:nth-of-type(2) .section__container,
section:nth-of-type(3) .section__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

section:nth-of-type(2) .section__article-img,
.section:nth-of-type(3) .section__article-img{
    margin-bottom: .625rem;
}

section:nth-of-type(2) .section__article-content,
section:nth-of-type(3) .section__article-content{
    text-align: center;
}

section:nth-of-type(2) .section__article-offers,
section:nth-of-type(3) .section__article-offers{
    display: flex;
    flex-direction: column;
    row-gap: .625rem;
}

section:nth-of-type(2) .section__article-cheap,
section:nth-of-type(3) .section__article-cheap{
    font-size: var(--small-font-size);
}

section:nth-of-type(2) .section__article-expensive,
section:nth-of-type(3) .section__article-expensive{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-decoration: line-through;
}

section:nth-of-type(2) .section__article-description,
section:nth-of-type(3) .section__article-description{
    font-size: var(--small-font-size);
    margin-bottom: .625rem;
}

/*=========== THIRD SECTION ===========*/
section:nth-of-type(3) .section__container{
    margin-bottom: 1.875rem;
}

section:nth-of-type(3) .section__article-image{
    position: relative;
}

section:nth-of-type(3) .section__article-sale{
    font-size: var(--smaller-font-size);
    color: var(--white-color);
    background-color: hsl(148, 44%, 44%);
    border-radius: 3rem;
    display: inline-flex;
    padding: 3px 20px;
    position: absolute;
    top: .625rem;
    right: .625rem;
    cursor: pointer;
}

section:nth-of-type(3) a{
    justify-self: center;
}

/*=========== BREAKPOINTS ===========*/
/* For medium devices */
@media screen and (max-width: 620px){
    section:nth-of-type(1) .section__container{
        grid-template-columns: 1fr;
    }

    section:nth-of-type(1) .section__article-img{
        height: 230px;
    }
}

@media screen and (max-width: 580px){
    section:nth-of-type(2) .section__container,
    section:nth-of-type(3) .section__container{
        grid-template-columns: 1fr;
    }

    section:nth-of-type(2) .section__article{
        text-align: center;
    }

    section:nth-of-type(2) .section__article-description,
    section:nth-of-type(3) .section__article-description{
        padding: 0 1.25rem;
    }

    section:nth-of-type(3) .section__article-img{
        width: 100%;
    }
}

/* For small devices */
@media screen and (max-width: 470px){
    section:nth-of-type(1) .section__article-img{
        height: initial;
    }
}

@media screen and (max-width: 340px){
    .header__data{
        height: 300px;
    }

    .header__description{
        font-size: var(--small-font-size);
    }

    section:nth-of-type(2) .section__article-img{
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 300px){
    .header__description{
        display: none;
    }
}






